#html,body,#root {
  margin: 0px;
  padding: 0px;
  width: 100%;
  background: #F2DA3A;
}

body {
  font-family: "Inter";
}

.spin {
	animation-name: spin;
	animation-duration: 15s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
			
@keyframes spin {
	0% { transform: rotate(0deg); }
	50% { transform: rotate(180deg); }
	100% { transform: rotate(360deg); }
}